
.avatar {
    max-width: 5vw;
    max-height: 5vh;
    border-radius: 20px;
    cursor: pointer;
}

#signout {
    /*background-color: red;
    color: black;*/
    text-align: center;
}

#signout:hover {
    background-color: rgb(17, 90, 247);
    color: white;
    cursor: pointer;
}

.panel-body {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 5vh;
    right: 0%;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    list-style: none;
}

.dropdown-item {
    cursor: text
}

.panel-body:hover .dropdown-content {
    display: block;
}
