<div class="d-flex flex-column flex-md-row align-items-center p-3 ox-md-4 mb-3 bg-white
 border-bottom shadow-sm">
    <a class="my-0 mr-md-auto font-weight-normal text-blue" href="#">WikiClone</a>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-blue" routerLink="components/about-page" routerLinkActive="active">Development Team</a>
    </nav>
    <form class="form-inline">
        <button id="qsLoginBtn"
          class="btn btn-primary my-2 my-sm-0"
          *ngIf="!auth.isAuthenticated()"
          (click)="auth.login()" type="button">
            Log In
        </button>
        <a class="p-2 text-blue" *ngIf="auth.isAuthenticated()">  </a>
        
        <button id="qsLogoutBtn"
          class="btn btn-primary my-2 my-sm-0"
          *ngIf="auth.isAuthenticated()"
          (click)="auth.logout()" type="button">
            Log Out
        </button>
    </form>
</div>
<router-outlet></router-outlet>