<div align = "center">
  <h2 text-align = 'center'>WikiClone Development Team</h2>
  
  <section class ="wrapper">
    <div id = "cConroy">
        <ngx-avatar src='assets/images/CrystalConroy.jpg' size = "200"></ngx-avatar>
        <hr/>
        <h4>Crystal Conroy</h4>
        <a href = 'https://github.com/crystalsc'>
          <img src='assets/images/GitHub-Mark-64px.png' width = '32px' height = '32px'>
        </a>
        <hr/>
    </div>

    <div id = "dHeck">
        <ngx-avatar src='assets/images/DavidHeck.jpg' size = "200"></ngx-avatar>
        <hr/>
        <h4>David Heck</h4>
        <p>
          I am a computer science student, and IT staff member, at the University of Delaware. 
          Currently concentrating in Software engineering.
          
          My interests include: software development, algorithm assesment, video game design, audio engineering, sound design, and synthesis.
          
          I have proficient experience with: Git, Unix-based Systems, Unreal Engine, Python Shell,and many more resources.
          
          Languages: C, C++, Java, JavaScript, HTML, Python, ARMv8, MIP
        </p>
        <a href = 'https://github.com/d-heck'>
          <img src='assets/images/GitHub-Mark-64px.png' width = '32px' height = '32px'>
        </a>
        <hr/>
    </div>

    <div id = "zKlodnicki">
        <ngx-avatar src='assets/images/ZacharyKlodnicki.jpg' size = "200"></ngx-avatar>
        <hr/>
        <h4>Zachary Klodnicki</h4>
        <p>
            Reasonable, personable computer science student, seeking internships in the field of computing and technology, in order 
            to gain experience in the work field as a foundation for a future career.
        </p>
        <a href = 'https://github.com/klodzack'>
          <img src='assets/images/GitHub-Mark-64px.png' width = '32px' height = '32px'>
        </a>
        <hr/>
    </div>

  </section>

  <section class = "wrapper">
    <div id = "jGouveia" >
        <ngx-avatar src='assets/images/JeremyGouveia.jpg' size = "200"></ngx-avatar>
        <hr/>
        <h4>Jeremy Gouveia</h4>
        <p>
            As a student in Computer Science at the University of Delaware, I have a fundamental knowledge of coding design and methodologies 
            as well as common algorithms and data structures. I also have industry knowledge on Agile as well through an internship at <br/> Booz | Allen | Hamilton. Ask me about Psynopsys.
        </p>
        <a href = 'https://github.com/Gojeflone'>
          <img src='assets/images/GitHub-Mark-64px.png' width = '32px' height = '32px'>
        </a>
        <hr/>

    </div>

    <div id = "vGutta">
        <ngx-avatar src='assets/images/VineethGutta.jpg' size = "200"></ngx-avatar>
        <hr/>
        <h4>Vineeth Gutta</h4>
        <p>

        </p>
        <a href = 'https://github.com/vgutta'>
          <img src='assets/images/GitHub-Mark-64px.png' width = '32px' height = '32px'>
        </a>
        <hr/>

    </div>

    <div id = "jVillacis">
        <ngx-avatar src='assets/images/JuanVillacis.PNG' size = "200"></ngx-avatar>
        <hr/>
        <h4>Juan Villacis</h4>
        <a href = 'https://github.com/jvillacis'>
          <img src='assets/images/GitHub-Mark-64px.png' width = '32px' height = '32px'>
        </a>
        <hr/>
      
    </div>
  </section>
  

</div>
