.the-flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

app-selectable-image {
  max-width: 300px;
}

.top-buttons {
  position: fixed;
  height: 75px;
  z-index: 1;
  bottom: 12.5vh;
  z-index: 1;
}
