h2 {
  max-width: 1000px;
  margin: auto;
}

.centerChild {
  padding-bottom: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#editTitle {
  margin-right: 11vw;
}

#changeTitle {
  margin-left: 69.2vw;
  margin-top: 1.5vh;
}